<?xml version="1.0"?>
<config>
  <modules>
    <ES_Custommenu>
      <version>1.0.2</version>
    </ES_Custommenu>
  </modules>
  <frontend>
    <routers>
      <custommenu>
        <use>standard</use>
        <args>
          <module>ES_Custommenu</module>
          <frontName>custommenu</frontName>
        </args>
      </custommenu>
    </routers>
    <layout>
      <updates>
        <custommenu>
          <file>es_custommenu.xml</file>
        </custommenu>
      </updates>
    </layout>
  </frontend>
  <admin>
    <routers>
      <custommenu>
        <use>admin</use>
        <args>
          <module>ES_Custommenu</module>
          <frontName>custommenu</frontName>
        </args>
      </custommenu>
    </routers>
  </admin>
  <adminhtml>
    <menu>
      <cms>
        <children>
          <custommenu module="custommenu">
            <title>Custom Menu</title>
            <sort_order>71</sort_order>               
            <children>
              <menu module="custommenu">
                <title>Manage Menus</title>
                <sort_order>1</sort_order>
                <action>custommenu/adminhtml_custommenu</action>
              </menu>
              <items module="custommenu">
                <title>Manage Menu Items</title>
                <sort_order>2</sort_order>
                <action>custommenu/adminhtml_custommenu_items</action>
              </items>
            </children>
          </custommenu>
        </children>
      </cms>
    </menu>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <ES_Custommenu>
              <title>Custommenu Module</title>
              <sort_order>10</sort_order>
            </ES_Custommenu>
            <system>
              <children>
                <config>
                  <children>
                    <custommenu translate="title" module="custommenu"> 
                      <title>Custommenu Settings</title>
                      <sort_order>50</sort_order>
                    </custommenu>
                  </children>							
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
    <layout>
      <updates>
        <custommenu>
          <file>es_custommenu.xml</file>
        </custommenu>
      </updates>
    </layout>
  </adminhtml>   
  <global>
    <models>
      <custommenu>
        <class>ES_Custommenu_Model</class>
        <resourceModel>custommenu_mysql4</resourceModel>
      </custommenu>
      <custommenu_mysql4>
        <class>ES_Custommenu_Model_Mysql4</class>
        <entities>
          <custommenu>
            <table>es_custommenu</table>
          </custommenu>
          <custommenu_items>
            <table>es_custommenu_item</table>
          </custommenu_items>
        </entities>
      </custommenu_mysql4>
    </models>
    <resources>
      <custommenu_setup>
        <setup>
          <module>ES_Custommenu</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </custommenu_setup>
      <custommenu_write>
        <connection>
          <use>core_write</use>
        </connection>
      </custommenu_write>
      <custommenu_read>
        <connection>
          <use>core_read</use>
        </connection>
      </custommenu_read>
    </resources>
    <blocks>
      <custommenu>
        <class>ES_Custommenu_Block</class>
      </custommenu>
    </blocks>
    <helpers>
      <custommenu>
        <class>ES_Custommenu_Helper</class>
      </custommenu>
    </helpers>
  </global>
  <default>
    <custommenu>
      <custommenu_setup>
        <enabled>1</enabled>
        <width>100</width>
        <height>100</height>
        <effect>random</effect>
      </custommenu_setup>
    </custommenu>
  </default>
</config>